<%- include('./header') -%>
    <body>
        <!-- <div id="head">This is the index page</div>
        <div> <%= Math.random() %> </div>
        <div> <%= content %> </div>
        <div> <%- htmlcontent -%> </div> -->
        <div id="root"></div>
        <script src='bundle.js' charset='utf-8'></script>
    </body>
</html>